# Ignore Python cache
__pycache__/
*.pyc
.pytest_cache/
.ruff_cache/d

# Ignore Git
.git
.gitignore

# Ignore virtual environments
venv/
.env

# SQLite dev database
leaderboard.db

# Ignore OS junk
.DS_Store
*.swp

# Ignore uploaded screenshots
uploads/