<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=devide-width, intial-scale=1">
    <title>Mario Kart 8 Deluxe Leaderboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
</head>
<body class="layout">
  <header class="site-header">
    <div class="bg-wrapper">
    <img src="/static/img/maps/mushroom-gorge.svg" alt="">
    </div>
    <h1><a href="{{ url_for('index') }}">Mario Kart 8 Deluxe Leaderboard</a></h1>
  </header>

  <main class="page-content">
    {% block content %}{% endblock %}
  </main>

  <footer class="site-footer">
    {% if current_user.is_authenticated %}
      <div class="not-signed-up">
        <a href="{{ url_for('logout') }}">Logout</a>
      </div>
    {% else %}
    <small>Built with Flask</small>
    {% endif %}
  </footer>
</body>
</html>
