{% extends "base.html" %}
{% block content %}
  {% if not current_user.is_authenticated %}
  <div class="sign-up-buttons">
    <a href="{{ url_for('register') }}">Register to submit a time!</a></p>
    <a href="{{ url_for('login') }}">Login</a></p>
  </div>
  {% endif %}
  <h2 class="map_title">Choose a Track:</h2>
  <ul style="list-style-type: none;">
    {% for m in maps %}
      <li><a href="{{ url_for('leaderboard', map_name=m) }}" class="submit-button">{{ m }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}
