{% extends "base.html" %}
{% block content %}
  {% if not current_user.is_authenticated %}
  <div class="sign-up-buttons">
    <a href="{{ url_for('register') }}">Register to submit a time!</a></p>
    <a href="{{ url_for('login') }}">Login</a></p>
  </div>
  {% endif %}
  <h2 class="map_title">Choose a Track:</h2>
  {% for cup, tracks in CUPS.items() %}
    <div class="cup-container">
      <h3 class="cup-title">{{ cup }}</h3>
      <img src="/static/img/cups/{{ cup|replace(' ', '-')|lower }}.png" alt="" style="  transform: scale(0.7);"> 
    </div>
    <ul class="track-list">
      {% for m in tracks %}
        <li>
          <a href="{{ url_for('leaderboard', map_name=m) }}" class="submit-button">{{ m }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
{% endblock %}
