{% extends "base.html" %}
{% block content %}

<div>
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class="flashes">
      {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  {% endwith %}
</div>

<form method="POST" class="submit-form-signup">
  <div class="input-wrapper">
    <input name="username" placeholder="Username" required>
  </div>
  <div class="input-wrapper">
    <input name="password" type="password" placeholder="Password" required>
  </div>
  <button type="submit" class="submit-button-signup">Register!</button>
</form>
{% endblock %}